*{
  margin:  0px;
  padding: 0.80px;
  box-sizing: border-box;
} 

/*
*{
  margin:  0.5px;
  padding: 0.5px;
  box-sizing: border-box;
} 
*/

header {
  background: #00a89d;
  color: white;
  padding: 0.5rem;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.30);
  width: 100%;
}

body{
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  padding: 3px;
}

.input-calories{
  font-size: 20px;
  font-weight: bold;
}

.grid-container{
  width: 80%;
  position: relative;
}

.grid-child-calories{
  /*width: 50%;*/
  position: absolute;
  top: 15%;
  left:15%;
  /*float: left;*/
}

.grid-child-grams{
  
/*  width: 50%;*/

  position: absolute;
  top: 55%;
  left: 55%;

/*  float: left;*/
}

/*#CalculateButton: hover,*/
.Button{
  font-weight: bold;
  font-size: 15px;
  background: #00a89d;
  border: 1px #00a89d solid;
  border-radius: 8px;
  padding: 4px;
  cursor: pointer;
}

.Button:hover, 
.Button:active{
  color:#00a89d;
  background-color: white;
}

.total{
  text-align: center;
}
.div-resource{
  margin-left: 20px;
  padding: 8px;

}
.addBtn{
  margin-left: 4px;
}
.addCont{
  margin-left: 600px;
}
.calorie-results-field{
  align-items: center;
}
.resources{
  margin-top: 128px;
}

#select-source{
  margin-left: 575px;
}
